html
    head
        title Welcome
        link(rel='stylesheet', href='css/main.css')
    body
        h1 Welcome!
        ul
            li
                a(href='/') Home
            li
                a(href='/perform-tests') Perform tests