html
    head
        title Performing tests
        script(src='js/libs/require.js', data-main='js/main.js')
        script(src='js/tests/localStorage.js')

        link(rel='stylesheet', href='css/main.css')
    body
        h1 Hello!
        ul
            li
                a(href='/') Home
            li
                a(href='/perform-tests') Perform tests