html
    head
        title Performing tests
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/main.css')
        script(src='//code.jquery.com/jquery-1.10.2.min.js')
    body
        div(class='container')
            h1 Tests Stats
            a(href='/', class='btn btn-default btn-sm btn-info') Back to Home
            div(class='table-responsive')
                table(class='table table-bordered test-stats')
                    tr
                        th #
                        th Browser
                        th Test result
            script(src='js/libs/require.js', data-main='js/main.js')